<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  
  <div class="game-board">
<img src="../../assets/imgs/clouds.png" class="cloud">
  <img src="../../assets/imgs/mario.gif" class="mario">
  <img src="../../assets/imgs/pipe.png" class="pipe">
</div>
<div class="botao">
  <button class="botao-redondo" (click)="jump()">Pular</button>
</div>

</ion-card>

<!-- 
  <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
